/.idea/
/dist/
/tmp/
/xunit/
/debug/
/trash/
/node_modules/dompurify/
/node_modules/pre-commit/
/node_modules/grunt-jsvalidate/
/node_modules/grunt-cli/
/node_modules/grunt-eslint/
/node_modules/grunt/
/node_modules/grunt-contrib-connect/
/node_modules/grunt-contrib-clean/
/node_modules/path/
/node_modules/grunt-casper/
/node_modules/grunt-html-build/
/node_modules/eslint/
/node_modules/grunt-contrib-concat/
/node_modules/.bin/
